PORT=3000
JWT_SECRET=super_secret_jwt_key_fashion_mall_2026_ducmanh
JWT_EXPIRES_IN=7d
DB_PATH=./src/database/fashion_mall.db
EMAIL_USER=support@dmfashionmall.vn
EMAIL_PASS=mock_email_password
NODE_ENV=development
